# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Test / coverage
.coverage
pytest_cache/